@keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes slideInRight {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .slide-in-left {
    animation: slideInLeft 1.0s ease-out forwards;
  }
  .slide-in-right {
    animation: slideInRight 1.0s ease-out forwards;
  }
  
  
